@import url("https://fonts.googleapis.com/css?family=Raleway:300");
/*  import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=UnifrakturCook:wght@700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
    text-decoration: none;
}
body{
 
    height: 100vh;
    background: black;
    align-items: center;
    justify-content: center;
  }
html{
    scroll-behavior: smooth;
}

.max-width{
    max-width: 1400px;
    padding: 0 80px;
    margin: auto;
}

section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    min-height: 100vh;
}

/*navbar*/
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 12px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
    background-color:black;
}
.navbar.sticky{
    padding: 15px 0;
    
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}
.navbar .logo a span{
    color: crimson;
    transition: all 0.3s ease;
}
.navbar.sticky .logo a span{
    color: #fff;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
  
}
.menu-list li{
    list-style: none;
  }
.navbar .menu li a{
    display: inline-block;
	padding: 10px 5px;
	color: white;
	background-color: transparent;
	
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	margin-left: 30px;
	transition: 0.3s ease;
	transition-property: background-color, color;
}
.navbar .menu li a:hover{
    color:crimson;
}
.navbar.sticky .menu li a:hover{
    color: #fff;
    background-color: crimson;
}

 .cta:hover {
	color: white;
	background-color: crimson;
}

/*button*/
button{
  position: relative;
  height: 60px;
  width: 200px;
  border: none;
  outline: none;
  color: white;
  background:black;
  cursor: pointer;
  border-radius: 5px;
  font-size: 50px;
  font-family: 'UnifrakturCook', cursive;
  text-transform: uppercase;
}
button:before{
  position: absolute;
  content: '';
  top: -2px;
  left: -2px;
  height: calc(100% + 4px);
  width: calc(100% + 4px);
  border-radius: 5px;
  z-index: -1;
  opacity: 0;
  filter: blur(5px);
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  background-size: 400%;
  transition: opacity .3s ease-in-out;
  animation: animate 20s linear infinite;
}
button:hover:before{
  opacity: 1;
}
button:hover:active{
  background: none;
}
button:hover:active:before{
  filter: blur(2px);
}
@keyframes animate {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}
/*scroll down*/
.scrolldown{
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 40px;
    height: 40px;
 
    transform: translateY(-80px) translateX(-50%)
    rotate(45deg);

}
.scrolldown span{
    position: absolute;
    top: 0%;
    right: 0%;
    display: block;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid#fff;
    border-right: 2px solid#fff;
    animation: animate2 1.5s linear infinite;
    opacity: 0;
    
}
.scrolldown span:nth-child(1)
{
    transform: translate(-15px,-15px);
    animation-delay: -0.4s;
}
.scrolldown span:nth-child(2)
{
    transform: translate(0,0);
    animation-delay: -0.2s;
}
.scrolldown span:nth-child(3)
{
    transform: translate(15px,15px);
    animation-delay: 0s;
}
@keyframes animate2 {
    0% { top: -5px;
    left: -5px;
    opacity: 0; }
    
25% { top: 0px;
    left: 0px;
    opacity: 1; }

50%,100% { top: 5px;
    left: 5px;
    opacity: 0; }
  }
  /* menu btn styling */
.menu-btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}
/* section styling*/

p,h4{
	color:white;
	font-size: 1.4rem;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 300;
	letter-spacing: 0.05rem;
}
 /*hero section*/

 #hero .hero {

	margin: 0 auto;
	padding: 0 50px;
	justify-content: flex-start;
}

    #hero h1 {
        display: block;
        width: fit-content;
        font-size: 4rem;
        position: relative;
        color:#333333;
        letter-spacing: 4px;
        -webkit-box-reflect: below 1px linear-gradient(transparent #a7a4a4)  ;
        line-height: 0.85em;  
        outline: none;
        animation: animate3 6s linear infinite;
    }
    @keyframes animate3{
        0%{
            color: #333333;
            text-shadow: none;
        }
        100%{
            color: #fff;
            text-shadow: 0 0 0px  #bfbfbf,
            0 0 20px  #bfbfbf,
            0 0 40px  #bfbfbf,
            0 0 80px  #bfbfbf,
            0 0 160px  #bfbfbf;
        }
    }
  #hero .text1 p{
      width: fit-content;
      font-size: 3rem;
      position:relative;
      color: white;
      line-height: 60px;
  }
 
  .cta{
    display: inline-block;
	padding: 10px 5px;
	color: white;
	background-color: transparent;
	border: 2px solid crimson;
    border-radius: 30px;
	font-size: 15px;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	margin-left: 0px;
    
	transition: 0.3s ease;
	transition-property:  color;
}
.hero-container .image{
max-width: 300px;
}
.hero-container .image-right{
    float: right;
margin-left: 30px;
   
}
    
/*work section*/
#work{
    background: #232427;
    font-family: 'PT Sans', sans-serif;
}
.work-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    max-width: 1200px;
    margin: 100px 0;
}
.work-container .card{
    position: relative;
    min-width: 320px;
    height: 440px;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1),
     5px 5px 15px rgba(0, 0, 0, 0.3),
     -5px -5px 15px rgba(255, 255, 255, 0.1);
     border-radius: 15px;
     margin: 30px ;
}


  .work-container .card .box{
      position: absolute;top: 20px;
      right: 20px;
      left: 20px;
      bottom: 20px;
      background: #2a2b2f;
      border: 2px solid #1e1f23;
      border-radius: 15px;
      box-shadow: 0px 20px 50px rgba(0,0,0,0.5);
      transition: 0.5s;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
  }

  .work-container .card .box::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.05);
    pointer-events: none;
}

  .work-container .card .box:hover{
      transform: translateY(-50px);
      box-shadow: 0px 40px 70px rgba(0,0,0,0.5);
      color: white;
  }
  .work-container .card .box .content{
      padding: 20px;
        text-align: center;
    }
    .work-container .card .box .content h2{
        position: absolute;
        top: -10px;
        right: 30px;
        font-size: 8em;
        color: rgba(255, 255, 255, 0.05);
    }
   
    .work-container .card .box .content h3{
        font-size: 1.8em;
        color: rgba(255, 255, 255, 0.5);
        z-index: 1;
        transition: 0.5s;
    }
    .work-container .card .box .content p{
        font-size: 16px;
        color: rgba(255, 255, 255, 0.5);
        z-index: 1;
        transition: 0.5s;
    }
    .work-container .card .box .content a{
        position: relative;
        
        display: inline-block ;
        padding: 8px 20px;
        background: #000;
        margin-top: 15px;
        border-radius: 20px;
        font-weight: 400;
        color: #fff;
        box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    }
    .work-container .card:hover .box .content a{
        background: #2196f3;
    }
    
    
        .work-container .card:hover .box .content h3,
    .work-container .card:hover .box .content p{
        color: #fff;
    }

    #contact{
        background: #fff;
    }